<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>khoint.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>khoint.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadController</servlet-name>
        <servlet-class>khoint.controllers.UploadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAvengersController</servlet-name>
        <servlet-class>khoint.controllers.Avengers.ListAvengersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllEquipmentsController</servlet-name>
        <servlet-class>khoint.controllers.Equipment.ListAllEquipmentsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEquipmentController</servlet-name>
        <servlet-class>khoint.controllers.Equipment.ViewEquipmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewEquipment</servlet-name>
        <servlet-class>khoint.controllers.Equipment.CreateNewEquipment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>khoint.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEquipmentController</servlet-name>
        <servlet-class>khoint.controllers.Equipment.DeleteEquipmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEquipmentController</servlet-name>
        <servlet-class>khoint.controllers.Equipment.UpdateEquipmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEquipmentController</servlet-name>
        <servlet-class>khoint.controllers.Equipment.SearchEquipmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAvengerController</servlet-name>
        <servlet-class>khoint.controllers.Avengers.SearchAvengerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAvengerController</servlet-name>
        <servlet-class>khoint.controllers.Avengers.ViewAvengerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAvengerController</servlet-name>
        <servlet-class>khoint.controllers.Avengers.DeleteAvengerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAvengerController</servlet-name>
        <servlet-class>khoint.controllers.Avengers.InsertAvengerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAvengerController</servlet-name>
        <servlet-class>khoint.controllers.Avengers.UpdateAvengerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadController</servlet-name>
        <url-pattern>/UploadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAvengersController</servlet-name>
        <url-pattern>/ListAvengersController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllEquipmentsController</servlet-name>
        <url-pattern>/ListAllEquipmentsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEquipmentController</servlet-name>
        <url-pattern>/ViewEquipmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewEquipment</servlet-name>
        <url-pattern>/CreateNewEquipment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEquipmentController</servlet-name>
        <url-pattern>/DeleteEquipmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEquipmentController</servlet-name>
        <url-pattern>/UpdateEquipmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEquipmentController</servlet-name>
        <url-pattern>/SearchEquipmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAvengerController</servlet-name>
        <url-pattern>/SearchAvengerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAvengerController</servlet-name>
        <url-pattern>/ViewAvengerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAvengerController</servlet-name>
        <url-pattern>/DeleteAvengerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAvengerController</servlet-name>
        <url-pattern>/InsertAvengerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAvengerController</servlet-name>
        <url-pattern>/UpdateAvengerController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
